
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<!--start-about-->
<div class="about mt40">
    <div class="container">
        <div class="about-top">
            <h3>ABOUT US</h3>
            <div class="about-main">
                <div class="col-md-8 about-top-left">
                    <h4>A Few Words About Us</h4>
                    <div class="abt-top">
                        <div class="col-md-5 abt-left">
                            <img src="@Url.Content("~/Content/MyProject/")images/abt-1.jpg" src="">
                        </div>
                        <div class="col-md-7 abt-right">
                            <h5>The Best Travel Site for Pakistan's Visit</h5>
                            <p> Enjoy The Pakistan's most beautiful places where you can visit with us. We provide complete packege including all facilitate that you want with afforadable rates</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="abt-top">
                        <div class="col-md-5 abt-left">
                            <img src="@Url.Content("~/Content/MyProject/")images/abt2.jpg" src="Image not found">
                        </div>
                        <div class="col-md-7 abt-right">
                            <h5>Visit Northern Areas Of Pakistan and Old Civilizations</h5>
                            <p> Pakistan has the rich history in old civilization like Muhanj-u-Daru and Tibat Vally which is still so many attraction for Forigners. Visit with us and see the hidden things. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 about-top-right">
                    <h4>Our Principles</h4>
                    <ul>
                        <li><a href="#">Affordable Rates</a></li>
                        <li><a href="#">Best Services</a></li>
                        <li><a href="#">Pre Plan Trip Schedule</a></li>
                        <li><a href="#">Best Resturants</a></li>
                        <li><a href="#">Beaches</a></li>
                        <li><a href="#">Mountains</a></li>
                        <li><a href="#">Forts</a></li>
                        <li><a href="#">Cities</a></li>
                        <li><a href="#">Dropdown items </a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-about-->
<!--start-team-->
<div class="team">
    <div class="container">
        <div class="team-main">
            <h3>MEET OUR TEAM</h3>
            <div class="team-top">
                <div class="col-md-4 team-top-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/team-1.jpg" src="">
                    <div class="t-top">
                        <h4>Rizwan Zaib</h4>
                        <b>Technical Diroctor</b>
                 
                        <ul>
                            <li><a href="#"><span class="fb"> </span></a></li>
                            <li><a href="#"><span class="twit"> </span></a></li>
                            <li><a href="#"><span class="google"> </span></a></li>
                            <li><a href="#"><span class="you"> </span></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </div>
            <div class="team-top">
                <div class="col-md-4 team-top-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/team-2.jpg" src="">
                    <div class="t-top">
                        <h4>H.M.AFZAAL</h4>
                        <b>Marketing Diroctor</b>
                       
                        <ul>
                            <li><a href="#"><span class="fb"> </span></a></li>
                            <li><a href="#"><span class="twit"> </span></a></li>
                            <li><a href="#"><span class="google"> </span></a></li>
                            <li><a href="#"><span class="you"> </span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="team-top">
                <div class="col-md-4 team-top-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/raju.jpg" src="">
                    <div class="t-top">
                        <h4>AfzalAkram</h4>
                        <b>Marketing Diroctor</b>
                       
                        <ul>
                            <li><a href="#"><span class="fb"> </span></a></li>
                            <li><a href="#"><span class="twit"> </span></a></li>
                            <li><a href="#"><span class="google"> </span></a></li>
                            <li><a href="#"><span class="you"> </span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
<!--end-team-->
<!--start-advantage-->
<div class="advantage">
    <div class="container">
        <div class="advantage-main">
            <h3>OUR ADVANTAGES</h3>
            <div class="advantage-top">
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>1.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Affordable Rates</h4>
                        <p>We offer Competitive Rates for Visit which has three types of packeges.Economy, Premium and VIP Class. You can select any of them. Our rates are best and afforadble for visitors</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>2.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Experienced Team</h4>
                        <p>We have Experienced Team which can help you any type of activity like hicking, Skating and many others</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>3.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Registered Travel Agency</h4>
                        <p>We are the only travel agency who is certified from Government for Northern Areas Visit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="advantage-bottom">
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>4.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Pre Plan Trip Schedule</h4>
                        <p>We create pre plan with the help of Maps trip so you can enjoy the trip in orignal ways</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>5.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Best Services</h4>
                        <p>Customer Services always important for us and we take it seriousely.We will not satisfy with our services until our valed customer </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 adv-left">
                    <div class="a-left">
                        <h4>6.</h4>
                    </div>
                    <div class="a-right">
                        <h4>Awards</h4>
                        <p>We are the only comapny who got awarded by international Travel Agency and also Awarded for many national and provencial Events</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--end-advantage-->

