
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

	<!--start-services-->
<div class="services mt40">
    <div class="container">
        <div class="services-main">
            <b></b>
            <h3><b>FEATURED SERVICES</b></h3>
            <div class="services-top">
                <div class="col-md-4 service-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/s-1.jpg" alt="">
                    <h4>Beautiful Lake with Eye Catching View Best for Families</h4>
                    <p>The Swat Vally is the full of greenery, Lakes and Mountains. The Best resorts available for your visits.</p>
                    <div class="s-btn">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 service-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/s-2.jpg" alt="">
                    <h4>Malam Jappa Resort Houses</h4>
                    <p>The Beutiful weather with beautiful people, Vistors Love to these place and always enjoyed. The seprate Villas and Resorts for families available</p>
                    <div class="s-btn">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 service-left">
                    <img src="@Url.Content("~/Content/MyProject/")images/s-3.jpg" alt="">
                    <h4>Kalam "The Land of Angles" </h4>
                    <p>If you did not visit kalam then you must miss a great oppertunity. The land of angles with having more than 500 years old civilization people always love to visit this place </p>
                    <div class="s-btn">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-services-->
<!--start-other-->
<div class="other">
    <div class="container">
        <div class="other-main">
            <h3>OTHER SERVICES</h3>
            <div class="other-top">
                <div class="col-md-6 other-left">
                    <h4>MUREE</h4>
                    <p>Muree alse known as Wadi-e-Hunza one of the best places and beutiful place in the earth having more than 2 million vistors per year </p>
                    <div class="o-btn">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 other-left">
                    <h4>AZAD KASHMIR</h4>
                    <p>The land of Kashmiri people which visitors always enjoyed and love this place. </p>
                    <div class="o-btn">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-other-->
<!--start-list-->
<div class="list">
    <div class="container">
        <div class="list-main">
            <h3>SERVICES LIST</h3>
        </div>
        <div class="list-top">
            <div class="col-md-3 list-left">
                <img src="@Url.Content("~/Content/MyProject/")images/l-1.jpg" alt="">
                <h4>BUSINESS PLANNING</h4>
                <ul>
                    <li><a href="#">Integerate with Customer</a></li>
                    <li><a href="#">Beautiful Houses </a></li>
                    <li><a href="#">Equipped Seperate Homes</a></li>
                    <li><a href="#">Mountains</a></li>
                    <li><a href="#">Lakes</a></li>
                </ul>
            </div>
            <div class="col-md-3 list-left">
                <img src="@Url.Content("~/Content/MyProject/")images/l-2.jpg" alt="">
                <h4>MARKETING SERVICES</h4>
                <ul>
                    <li><a href="#"> Pre Plan Schedule</a></li>
                    <li><a href="#">Experinced Staff </a></li>
                    <li><a href="#">Team Work</a></li>
                    <li><a href="#">Trip Adviser</a></li>
                    <li><a href="#">Free Guide</a></li>
                </ul>
            </div>
            <div class="col-md-3 list-left">
                <img src="@Url.Content("~/Content/MyProject/")images/l-3.jpg" alt="">
                <h4>ONLINE SERVICES</h4>
                <ul>
                    <li><a href="#">Online Booking</a></li>
                    <li><a href="#">Payment Facilities</a></li>
                    <li><a href="#"></a>Visit Map</li>
                    <li><a href="#">Internet Facilities </a></li>
                    <li><a href="#">Online Soluations</a></li>
                </ul>
            </div>
            <div class="col-md-3 list-left">
                <img src="@Url.Content("~/Content/MyProject/")images/l-4.jpg" alt="">
                <h4>ADDITIONAL SERVICES</h4>
                <ul>
                    <li><a href="#">Special Dinner and Lunch </a></li>
                    <li><a href="#">Trip Advisers</a></li>
                    <li><a href="#">Free Media Team</a></li>
                    <li><a href="#">Free Photography</a></li>
                    <li><a href="#">Skatings and Hickings </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-list-->